<div class="mprojectDetails" ng-controller="MProjectDetailsCtrl">
	<div class="mprojectInfoHeader">
		<h1>{{project.acf.project_name}}</h1>
	</div>
	<div class="mprojectInfoDesc">
		<h2>Client:</h2>
		<p>{{project.acf.project_client}}</h2>
		<h2>Details:</h2>
		<p>{{project.acf.project_description | htmlToPlainText}}</p>
	</div>
</div>