<div class="contactSection" ng-controller="ContactCtrl as contact" loading-section>
	<div class="contactHeader">
		<h2>
			Say What's Up!
		</h2>
        <h1>
            <a href="mailto:david@davidnortiz">DAVID@DAVIDNORTIZ.COM</a>
        </h1>
	</div>
    <ul>
    	<li>
            <a href="skype:yodavido?call" btn-overer>
                <img class="contactBtn" src="{{contact.skypeImg}}" alt="">
                <img class="contactBtn_over" src="{{contact.skypeImg_over}}" alt="">
            </a>
        </li>
    	<li>
            <a href="http://twitter/yodavido" btn-overer>
                <img class="contactBtn" src="{{contact.twitterImg}}" alt="">
                <img class="contactBtn_over" src="{{contact.twitterImg_over}}" alt="">
            </a>
        </li>
    	<li>
            <a href="http://instagram.com/yodavido" btn-overer>
                <img class="contactBtn" src="{{contact.instagramImg}}" alt="">
                <img class="contactBtn_over" src="{{contact.instagramImg_over}}" alt="">
            </a>
        </li>
    </ul>
</div>