<div class="profile" ng-controller="ProfileCtrl as profile" loading-section>
    <div class="profileHeader">
    	<h1>HI MY NAME IS DAVID ORTIZ</h1>
    	<h2>That's me</h2>
    	<i class="icon-down"></i>
    	<div class="clearBoth"></div>
    	<img src="{{profile.profileImg}}" alt="" class="profileImg">
    </div>
    <div class="profileBodyWrapper">
    	<div ng-bind-html="profile.profileBody"></div>
    </div>
</div>