<div class="intro" ng-controller="IntroCtrl as intro" loading-section>
	<div class="sectionTopper">
		<h1>HI NICE TO MEET YOU...</h1>
	</div>
	<div class="introBody">
		<h1>
			My name is David Ortiz. I'm a <a href="#/profile">developer</a> who creates online experiences in many different arenas. My <a href="#/projects">projects</a> range from simple 1 pagers to web applications. Don't need convincing and know what you need <a href="#/contact">drop me a line</a>.
		</h1>
	</div>
</div>