<div id="primary-navigation">
    <a href="/"><img src="{{layout.navLogo}}" alt=""/></a>
    <ul>
        <li class="logo"></li>
        <li><a href="#/projects" title="">PROJECTS</a></li>
        <li><a href="#/profile" title="">PROFILE</a></li>
        <li><a href="#/contact" title="">CONTACT</a></li>
    </ul>
</div>