<div class="projectDetails" ng-controller="ProjectDetailsCtrl as project">
	<div class="primaryImage">
		<img src="{{project.primaryImage}}" alt="">
		<div class="projectInfo">
			<div class="projectInfoHeader">
				<h1>{{project.project.acf.project_name}}</h1>
				<hr>
				<p ng-class="{ 'noLink' : project.noLink }">Visit: <a href="{{project.project.acf.project_link}}" target="_blank">{{project.project.acf.project_name}}</a></p>
				<p>Client: {{project.project.acf.project_client}}</h2>
			</div>
			<div class="projectInfoDesc">
				<p>{{project.project.acf.project_description}}</p>
			</div>
		</div>
	</div>

	<div class="projectImages">
		<ul class="projectImagesList">
			<li ng-repeat="img in project.project.acf.project_images">
				<img src="{{img.url}}" alt="">
			</li>
		</ul>
	</div>
</div>