<section class="projectsMain" ng-controller="ProjectsCtrl as projects">
	<div class="projectTile"  ng-repeat="project in projects.projects">
		<div class="projectThumb">
			<a href="#/projects/{{project.ID}}" project-tile>
				<img src="{{project.acf.project_thumb}}" alt="" loading-img>
				<div class="projectTileOverlay">
					<h1>{{project.acf.project_name}}</h1>
				</div>
			</a>
		</div>
	</div>	
</section>