/*
Theme Name: davidnortiz_v2
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: styles for davidnortiz.com
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: web dev
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*fonts*/
@import url('http://fonts.googleapis.com/css?family=Raleway:300,400,500,600');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

@import "./reset.styl"

/* SITE VARIABLES */
Raleway = 'Raleway', sans-serif
RobotoSlab = 'Roboto Slab', serif
dkgray = #363637
dkrgray = #2F2F2F
ltgray = #969696
pastelgreen = #A9DA88

/* SITE STYLES */
*
  font-family Raleway
  color ltgray
  
html, body
  width 100%
  height 100%
  position relative
  color ltgray
  background-color dkrgray
  -webkit-font-smoothing: antialiased;
  overflow auto

@import "./stylus/menuBtn.styl"

.toggleMenuBtn
  display none
  z-index 100
  position absolute
  right 20px
  top 62px
.mnav
  width 100%
  height 100%
  background-color dkrgray
  left 0
  top 0
  position fixed
  z-index 99
  display none
  ul
    margin-top 150px
    li
      a
        color ltgray
        text-decoration none
        font-weight 400
        width 100%
        padding 4% 0
        position relative
        display block
        text-align center
        font-family Raleway
        font-weight 600
        font-size 20px
        &:hover
          color dkrgray
          background-color white
  .siteName
    position absolute
    bottom 20px
    width 100%
    text-align center
    h1
      font-size 30px
      font-weight 500
      letter-spacing 1px
      margin-bottom 5px
    h2
      font-size 12px
      font-weight 300

.header
  width 100%
  position relative
  background-color dkrgray
  z-index 5
  #primary-navigation
    height 75px
    max-width 1200px
    margin 0 auto
    padding 50px 0
    .navLogo
      height 100%
      float left
      margin-left 40px
      img
        height 100%
    ul
      width 29%
      margin-top 35px
      float right
      li
        width 33%
        text-align center
        float left
        a
          font-family Raleway
          text-decoration none
          font-size 12px
          letter-spacing 2px
          padding-bottom 5px
          font-weight 600
          &:hover
            color pastelgreen
            border-bottom 2px solid pastelgreen
  &::after
    clear both
    content ""
    display table

.currentSection
  color pastelgreen
  border-bottom 2px solid pastelgreen
  pointer-events none
.mCurrentSection
  color white !important
  background-color pastelgreen
  pointer-events none

.uiViewPort
  position relative
  width 100%
  margin-bottom 100px
  z-index 2
  background-color dkrgray
  .projectsMain
    width 100%
    max-width 1200px
    margin 0 auto
    .projectTile
      position relative
      float left
      width 50%
      min-height 250px
      background #000
      .projectThumb
        position relative
        overflow hidden
        z-index 0
        
        a
          width 100%
          height 100%
          position relative
          display block
          img
            width 100%
            display block
          .projectTileOverlay
            display none
            width 100%
            height 100%
            background-color rgba( 22, 22, 22, 0.8 )
            position absolute
            top 0
            left 0
            h1
              top 50%
              position absolute
              width 100%
              color white
              font-size 22px
              font-family RobotoSlab
              text-align center
              
  .projectDetails
    width 100%
    .primaryImage
      width 100%
      min-height 500px
      max-height 888px
      position relative 
      top 0
      left 50%
      transform translate( -50%, 0)
      -moz-transform translate( -50%, 0)
      -webkit-transform translate( -50%, 0)
      overflow hidden
      img
        width 100%
        min-width 800px
        min-height 500px
      .projectInfo
        width 85%
        max-width 1200px
        text-align center
        background-color rgba( 00, 00, 00, .85)
        padding 50px
        position absolute
        bottom 0
        left 50%
        transform: translate( -50%, 0);
        -moz-transform: translate( -50%, 0);
        -webkit-transform: translate( -50%, 0);
        p
          font-size 15px
          font-family Raleway
          color ltgray
          letter-spacing 2px
          font-weight 500
          line-height 20px
          text-align left
        .projectInfoHeader
          width 100%
          font-family RobotoSlab
          margin-bottom 30px
          h1
            font-size 35px
            font-weight 600
            color ltgray
          hr
            width 30%
            border-color ltgray
            margin 30px auto
          p
            margin-bottom 10px
            a
              text-decoration none
              color pastelgreen
          p.noLink
            display none
        .projectInfoDesc
          width 100%
          margin 0 auto
      &::after
        clear both
        content ""
        display table
      
    .projectImages
      width 100%
      max-width 1200px
      margin 0 auto
      position relative
      img
        width 100%

  .profile
    width 80%
    max-width 1200px
    margin 50px auto
    padding 40px
    .profileHeader
      text-align center
      font-family RobotoSlab
      margin-bottom 10px
      h1
        font-size 35px
        margin-bottom 40px
        font-weight 600
      h2
        font-size 20px
        font-family Raleway
        font-weight 200
        margin-bottom 5px
      .icon-down
        margin-bottom 20px
      img
        margin 20px 0 
    .profileBodyWrapper
      p
        font-size 20px
        font-family Raleway
        font-weight 200
        margin-bottom 20px
        text-align justify
        line-height 25px
  
  .contactSection
    width 100%
    max-width 1200px
    margin 0 auto
    text-align center
    position relative
    .contactHeader
      h2
        color white
        font-family RobotoSlab
        font-size 20px
        margin-bottom 25px
      h1
        font-size 30px
        font-weight 400
        a
          color white
          font-family Raleway
          text-decoration none
          padding-bottom 5px
          border-bottom 2px solid white
          &:hover
            color pastelgreen
            border-color pastelgreen
    ul
      width 100%
      max-width 331px
      position relative
      margin 50px auto
      li
        width 30%
        margin 0 1.6%
        float left 
        position relative
        a
          position relative
          width 100%
          height 100%
          display block
          margin 0 auto
          img
            width 100%
            height 100%
          img.contactBtn_over
            position absolute
            top 0
            left 0
            display none
  
  &::after
    clear both
    content ""
    display table

.hideMe
 display none

footer
  width 100%
  position relative
  left 0
  bottom 0
  z-index 1
  img
    width 75px
    margin 0 auto
    display block
  hr
    width 60%
    border-color pastelgreen
    margin 50px auto
    margin-bottom 0
  ul
    width 60%
    margin 0 auto
    margin-bottom 0px
    li
      padding 20px 10px
      float left
      a
        font-family Raleway
        text-decoration none
        font-size 10px
        letter-spacing 2px
        font-weight 600
        &:hover
          color pastelgreen
  
::-webkit-scrollbar { 
    display: none; 
}

@media( max-width : 960px )
  .projectTile
    width 100% !important
    .projectTileOverlay
      display inline-block !important
      opacity 1 !important
  .toggleMenuBtn
    display inline-block
  .mMenu
    display block
  .header
    #primary-navigation
      ul
        display none
  .footer
    ul
      width 100%
      li
        padding 20px 0
        width 25%
        text-align center
@media( max-width : 600px )
  .contactSection
    .contactHeader
      h1
        font-size 25px !important
      
@media( max-height : 358px )
  .mnav
    ul
      margin-top 55px    

