/*
Theme Name: davidnortiz_v2
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: styles for davidnortiz.com
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: web dev
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*fonts*/
@import url("http://fonts.googleapis.com/css?family=Raleway:300,400,500,600");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* SITE VARIABLES */
/* SITE STYLES */
* {
  font-family: 'Raleway', sans-serif;
  color: #969696;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  color: #969696;
  background-color: #2f2f2f;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  left: 18px;
  right: 18px;
  height: 5px;
  background: #fff;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.c-hamburger span::before {
  top: -10px;
}
.c-hamburger span::after {
  bottom: -10px;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.toggleMenuBtn {
  display: none;
  z-index: 100;
  position: absolute;
  right: 20px;
  top: 62px;
}
.mnav {
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 99;
  display: none;
}
.mnav ul {
  margin-top: 150px;
}
.mnav ul li a {
  color: #969696;
  text-decoration: none;
  font-weight: 400;
  width: 100%;
  padding: 4% 0;
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.mnav ul li a:hover {
  color: #2f2f2f;
  background-color: #fff;
}
.mnav .siteName {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.mnav .siteName h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.mnav .siteName h2 {
  font-size: 12px;
  font-weight: 300;
}
.header {
  width: 100%;
  position: relative;
  background-color: #2f2f2f;
  z-index: 5;
}
.header #primary-navigation {
  height: 75px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.header #primary-navigation .navLogo {
  height: 100%;
  float: left;
  margin-left: 40px;
}
.header #primary-navigation .navLogo img {
  height: 100%;
}
.header #primary-navigation ul {
  width: 29%;
  margin-top: 35px;
  float: right;
}
.header #primary-navigation ul li {
  width: 33%;
  text-align: center;
  float: left;
}
.header #primary-navigation ul li a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  font-weight: 600;
}
.header #primary-navigation ul li a:hover {
  color: #a9da88;
  border-bottom: 2px solid #a9da88;
}
.header::after {
  clear: both;
  content: "";
  display: table;
}
.currentSection {
  color: #a9da88;
  border-bottom: 2px solid #a9da88;
  pointer-events: none;
}
.mCurrentSection {
  color: #fff !important;
  background-color: #a9da88;
  pointer-events: none;
}
.uiViewPort {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  z-index: 2;
  background-color: #2f2f2f;
}
.uiViewPort .projectsMain {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.uiViewPort .projectsMain .projectTile {
  position: relative;
  float: left;
  width: 50%;
  min-height: 250px;
  background: #000;
}
.uiViewPort .projectsMain .projectTile .projectThumb {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.uiViewPort .projectsMain .projectTile .projectThumb a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.uiViewPort .projectsMain .projectTile .projectThumb a img {
  width: 100%;
  display: block;
}
.uiViewPort .projectsMain .projectTile .projectThumb a .projectTileOverlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(22,22,22,0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.uiViewPort .projectsMain .projectTile .projectThumb a .projectTileOverlay h1 {
  top: 50%;
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.uiViewPort .projectDetails {
  width: 100%;
}
.uiViewPort .projectDetails .primaryImage {
  width: 100%;
  min-height: 500px;
  max-height: 888px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  overflow: hidden;
}
.uiViewPort .projectDetails .primaryImage img {
  width: 100%;
  min-width: 800px;
  min-height: 500px;
}
.uiViewPort .projectDetails .primaryImage .projectInfo {
  width: 85%;
  max-width: 1200px;
  text-align: center;
  background-color: rgba(0,0,0,0.85);
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.uiViewPort .projectDetails .primaryImage .projectInfo p {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  color: #969696;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.uiViewPort .projectDetails .primaryImage .projectInfo .projectInfoHeader {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
}
.uiViewPort .projectDetails .primaryImage .projectInfo .projectInfoHeader h1 {
  font-size: 35px;
  font-weight: 600;
  color: #969696;
}
.uiViewPort .projectDetails .primaryImage .projectInfo .projectInfoHeader hr {
  width: 30%;
  border-color: #969696;
  margin: 30px auto;
}
.uiViewPort .projectDetails .primaryImage .projectInfo .projectInfoHeader p {
  margin-bottom: 10px;
}
.uiViewPort .projectDetails .primaryImage .projectInfo .projectInfoHeader p a {
  text-decoration: none;
  color: #a9da88;
}
.uiViewPort .projectDetails .primaryImage .projectInfo .projectInfoHeader p.noLink {
  display: none;
}
.uiViewPort .projectDetails .primaryImage .projectInfo .projectInfoDesc {
  width: 100%;
  margin: 0 auto;
}
.uiViewPort .projectDetails .primaryImage::after {
  clear: both;
  content: "";
  display: table;
}
.uiViewPort .projectDetails .projectImages {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.uiViewPort .projectDetails .projectImages img {
  width: 100%;
}
.uiViewPort .profile {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px;
}
.uiViewPort .profile .profileHeader {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 10px;
}
.uiViewPort .profile .profileHeader h1 {
  font-size: 35px;
  margin-bottom: 40px;
  font-weight: 600;
}
.uiViewPort .profile .profileHeader h2 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin-bottom: 5px;
}
.uiViewPort .profile .profileHeader .icon-down {
  margin-bottom: 20px;
}
.uiViewPort .profile .profileHeader img {
  margin: 20px 0;
}
.uiViewPort .profile .profileBodyWrapper p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 25px;
}
.uiViewPort .contactSection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.uiViewPort .contactSection .contactHeader h2 {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin-bottom: 25px;
}
.uiViewPort .contactSection .contactHeader h1 {
  font-size: 30px;
  font-weight: 400;
}
.uiViewPort .contactSection .contactHeader h1 a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.uiViewPort .contactSection .contactHeader h1 a:hover {
  color: #a9da88;
  border-color: #a9da88;
}
.uiViewPort .contactSection ul {
  width: 100%;
  max-width: 331px;
  position: relative;
  margin: 50px auto;
}
.uiViewPort .contactSection ul li {
  width: 30%;
  margin: 0 1.6%;
  float: left;
  position: relative;
}
.uiViewPort .contactSection ul li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.uiViewPort .contactSection ul li a img {
  width: 100%;
  height: 100%;
}
.uiViewPort .contactSection ul li a img.contactBtn_over {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.uiViewPort::after {
  clear: both;
  content: "";
  display: table;
}
.hideMe {
  display: none;
}
footer {
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
}
footer img {
  width: 75px;
  margin: 0 auto;
  display: block;
}
footer hr {
  width: 60%;
  border-color: #a9da88;
  margin: 50px auto;
  margin-bottom: 0;
}
footer ul {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0px;
}
footer ul li {
  padding: 20px 10px;
  float: left;
}
footer ul li a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
}
footer ul li a:hover {
  color: #a9da88;
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 960px) {
  .projectTile {
    width: 100% !important;
  }
  .projectTile .projectTileOverlay {
    display: inline-block !important;
    opacity: 1 !important;
  }
  .toggleMenuBtn {
    display: inline-block;
  }
  .mMenu {
    display: block;
  }
  .header #primary-navigation ul {
    display: none;
  }
  .footer ul {
    width: 100%;
  }
  .footer ul li {
    padding: 20px 0;
    width: 25%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .contactSection .contactHeader h1 {
    font-size: 25px !important;
  }
}
@media (max-height: 358px) {
  .mnav ul {
    margin-top: 55px;
  }
}
