<button class='c-hamburger c-hamburger--htx toggleMenuBtn'><span>toggle menu</span></button>
<div class="mnav">
    <ul>
        <li><a href="#/projects" title="" ng-class="{true : 'mCurrentSection'}[layout.currentSection === 'projects']">PROJECTS</a></li>
        <li><a href="#/profile" title="" ng-class="{true : 'mCurrentSection'}[layout.currentSection === 'profile']">PROFILE</a></li>
        <li><a href="#/contact" title="" ng-class="{true : 'mCurrentSection'}[layout.currentSection === 'contact']">CONTACT</a></li>
    </ul>
</div>